@use '../abstract/colors';
@use '../abstract/variables';

:root {
  font-size: 62.5%;
  font-family: Poppins,Cormorant;
}

* {
  margin: 0;
  padding: 0;
  color: colors.$text;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  /* border-radius: auto; */
  background: colors.$ScrollTrack;
}

::-webkit-scrollbar-thumb {
  background: colors.$ScrollThumb;
  border-radius: 1rem
}

::-webkit-scrollbar-thumb:hover {
  background: colors.$ScrollThumbHover;
}

section {
  height: min(100vh);
  width: 100%;
}

p {
  font-size: 1.6rem;
  font-family: variables.$SansLight;
  text-align: justify;
}

h1 {
  font-size: 10rem;
  user-select: none;
}

h2 {
  font-size: 8rem;
}

h3 {
  user-select: none;
  font-size: 1.6rem;
}
