@use '../abstract' as *;

:root {
  font-size: 62.5%;
  font-family: Poppins,Cormorant;
  background-color: $graybg;
  color: $text;
  --marco: #{$Marco};
}
body {
  width: 100vw;
  height: 100vh;
}

.container {
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

section {
  scroll-snap-align: start;
  height: min(100vh);
  width: 100%;
}

p {
  font-size: 1.3rem;
  font-family: $Sans;
  text-align: justify;
}

h1 {
  font-size: 9rem;
  user-select: none;
}

h2 {
  font-size: 7rem;
}

h3 {
  user-select: none;
  font-size: 1.3rem;
}

@media (max-width: 43rem) {
  :root {
    --marco: 2rem;
  }
  h2 {
    font-size: 5.6rem;
  }
  section {
    height: auto;
  }
}

@media screen and (min-width: 77rem) {
  .container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
  }
  ::-webkit-scrollbar {
    width: 1rem;
  }

  ::-webkit-scrollbar-track {
    /* border-radius: auto; */
    background: $ScrollTrack;
  }

  ::-webkit-scrollbar-thumb {
    background: $ScrollThumb;
    border-radius: 1rem
  }

  ::-webkit-scrollbar-thumb:hover {
    background: $ScrollThumbHover;
  }
}
