@use '../abstract' as *;

.RightBar {
  @include Flexbox(column, flex-end, center);
  padding: $Marco;
  height: calc(100% - #{$Marco * 2});
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
}

.Scroll {
  flex: 1 0 auto;
  justify-content: flex-end;
}
