$text: #484848;
$graybg: #f9f9f9;
$gray1: rgba(72,72,72,.3);
$gray2: rgba(72,72,72,.20);
$gray3: rgba($color: #c4c4c4, $alpha: 0.5);
$grayDark: #141414;

$ScrollTrack: #f1f1f1;
$ScrollThumb: #c8c8c8;
$ScrollThumbHover: #a1a1a1;
