@use 'colors';

@mixin Positioning($top: auto, $left: auto, $right: auto, $bottom: auto, $z-index: 1, $margin: 0, $pos: absolute) {
  position: $pos;
  @if $top != auto {
    top: $top;
  }
  @if $left != auto {
    left: $left;
  }
  @if $right != auto {
    right: $right;
  }
  @if $bottom != auto {
    bottom: $bottom;
  }
  @if $margin != 0 {
    margin: $margin;
  }
  @if $z-index != auto {
    z-index: $z-index;
  }
}

@mixin Flexbox($direction: row, $justify: normal, $align: normal) {
  display: flex;
  @if $justify != normal {
    justify-content: $justify;
  }
  @if $direction != row {
    flex-direction: $direction;
  }
  @if $align != normal {
    align-items: $align;
  }
}
@mixin Stroke($StrokeColor: colors.$gray2) {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $StrokeColor;
}
