@use '../abstract/mixins' as *;

.Button {
  display: flex;
  align-items: center;
  gap: 2rem;
  user-select: none;
  font-weight: 600;
}

.ButtonMenu {
  @include Flexbox($align: center);
  gap: 2rem;
  writing-mode: vertical-lr;
  text-orientation: sideways;
  & > h3 {
    font-weight: 500;
  }
}
