@use '../abstract' as *;

.Hero {
  @include Flexbox;
  width: calc(100% - var(--marco) * 2.6);
}

.MainColumn {
  @include Flexbox(column);
  flex: 2 0 auto;
  padding: var(--marco);
}

.MainParagraph {
  width: 45ch;
  position: relative;
  display: block;
  &::after {
    @include reveal(0 100%);
  }
}

.MainContentContainer {
  @include Flexbox(column, center, center);
  flex: 1 0 auto;
  font-family: $Serif;
}

.MainContent {
  @include Flexbox(column);
  gap: $StdGap;
}

.title {
  line-height: 0.90;
  display: block;
  position: relative;
  &::after {
    @include reveal;
  }
}

.Name {
  font-weight: 400;
}

.Break {
  font-family: Poppins;
  font-size: 1.3rem;
  border-top: .1rem solid rgba(72,72,72,0.30);
  width: 44ch;
}

.SecColumn {
  @include Flexbox(column, center, center);
  padding: var(--marco);
  flex: 1 0 auto;
  position: relative;
  overflow: hidden;
  & > h1 {
    line-height: 0.82;
    font-family: $Serif;
    @include Stroke;
  }
}

.Photo {
  @include Positioning(0,0,0,0, $z-index:1, $margin:auto);
  width: 39rem;
  height: 52rem;
  background-color: #c4c4c4;
}

.PhotoData {
  @include Positioning(32rem,0,16rem,0, $z-index: 2, $margin:auto);
  width: 32rem;
  height: 10rem;
  background-color: #fff;
}

@media (max-width: 42.5rem) {
  .Hero {
    flex-direction: column;
    width: 100%;
  }
  .MainColumn {
    padding-top: $Marco;
    height: 75vh;
    padding-bottom: 0;
  }
  .MainParagraph, .Break {
    width: 100%;
  }
  .SecColumn {
    overflow: visible;
    padding-bottom: 0;
    & .Photo {
      position: relative;
      width: 100vw;
      right: calc(var(--marco));
      left: auto;
    }
    & .PhotoData {
      left:0;
      right: 0;
      width: calc(100vw - var(--marco) * 2);
    }
    & > h1 {
      display: none;
    }
  }
}
