@use '../abstract/colors';
@use '../abstract' as *;

.IntroProjects {
  @include Flexbox;
  position: relative;
}

.IntroColumn {
  @include Flexbox(column);
  width: calc(100% - #{$Marco * 2});
  flex: 1 0 auto;
  padding: $Marco;
}

.IntroContent {
  @include Flexbox(column);
  flex: 1 0 auto;
  & > h2 {
    font-family: $Serif;
    line-height: 0.90;
  }
  justify-content: space-evenly;
}

.Projects {
  @include Positioning($right: $Marco, $margin: 0, $pos: relative);
  height: 32rem;
  width: calc(100% + #{$Marco * 2});
  background-color: colors.$gray3;
}
